*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dcdcdc6a;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #00c8ff2a, #ff6a0031, #ee097829,  #0073ff37);
    background-size: 800% 800%;
    animation: infiniteColor 10s infinite;
    
}

@keyframes infiniteColor{
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
#box{
    background-color: rgba(254, 254, 254, 0.919);
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#box h1{
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#myUl{
    list-style: none;
}

#myUl li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px;
    background-color: rgba(201, 206, 205, 0.39);
    border-radius: 5px;
    color: rgb(54, 52, 52);
}

#btn {
    padding: 2px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 12px;
    font-family: sans-serif;
}

#btn:hover{
    background-color: rgba(43, 226, 223, 0.501);
}